@page "/personne/{uid}"

@if (personne is null)
{
    <p>Chargement...</p>
}
else
{
    <div class="row">
        <button class="btn btn-warning" @onclick="@(() => Navigation.NavigateTo("/personnes"))">Retour à la liste</button>
    </div>
    <EditForm Model="@personne" OnValidSubmit="SavePersonne">
        <div class="mb-3">
            <label for="nom_personne" class="form-label">Nom</label>
            <InputText class="form-control" id="nom_personne" @bind-Value="personne.Nom" />
        </div>
        <div class="mb-3">
            <label for="prenom_personne" class="form-label">Prénom</label>
            <InputText class="form-control" id="montant_contrat" @bind-Value="personne.Prenom" />
        </div>
        <div class="mb-3">
            <label for="description_personne" class="form-label">Description</label>
            <InputText class="form-control" id="description_personne" @bind-Value="personne.Description" />
        </div>
        <div class="m-3"><button type="submit" class="btn btn-primary">Sauvegarde</button></div>
    </EditForm>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary" @onclick="@(() => Navigation.NavigateTo($"contrats/{Uid}"))">Voir contrats</button>
        </div>
    </div>
}
